.row
  .span3
    = render "web/shared/activity_page_activities_list"
  .span6
    %h3= @activity
    - @page_activities.each do |u|
      %hr
      %div{:id =>  u.id}
        %h4
          = u
      != u.body
