.row
  .span3.bs-docs-sidebar{id: "scrollnav"}
    = render "web/shared/activity_page_activities_list"
  .span7
    %div{ data: { spy: "scroll", target: "#scrollnav"}}
      %h3= resource_activity
      -@page_activities.each do |u|
        %hr
        %section{ id: u.id}
          %h4
            = u
          != u.body
