%footer
  .footer
    .right
      %p Контакты:
      %li Приёмная: 8 (8422) 41-79-25
      %li Вахта: 8 (8422) 27-05-25
    %p © 2012 Ульяновский Областной дворец творчества детей и молодежи
    %a{href: "mailto:dvorec_ul@mail.ru"} dvorec_ul@mail.ru
