.footer
  .container.row
    .span9.copyrights
      %p
        &copy; 2013 Ульяновский Областной дворец творчества детей и молодежи
        %br
        г. Ульяновск, ул. Минаева, д. 50
        %br
        E-mail:
        %a{href: "mailto:dvorec_ul@mail.ru"} dvorec_ul@mail.ru
        %br
        Приёмная: +7 (8422) 41-79-25
        %br
        Вахта: +7 (8422) 27-05-25
    .span3.support



  // = render 'layouts/web/shared/social'






