= render 'web/shared/search_form'

%ul
  - @results.each do |result|
    %li
      = render partial: "web/searches/#{result.searchable_type.underscore}", object: result.searchable

= paginate @results
