%h3= t('.instructors')
%ul.thumbnails
  - @instructors.each do |i|
    %li.span3
      .thumbnail
        = image_tag i.avatar.thumb.url
        .caption
          = link_to i, instructor_path(i)
= paginate @instructors
