.row
  .span3
    = render "web/shared/union_groups_list"
  .span6
    - @category.each do |c| 
      - c.unions.each do |u|
        - if u.groups.any?
          %h3= c
          %h4= u
        %ul.nav.nav-tabs.nav-stacked
          - u.groups.each do |g|
            %li= link_to g, union_group_path(u, g)
