.row
  .span3.bs-docs-sidebar{id: "scrollnav"}
    = render "web/shared/union_groups_list"
  .span7
    %div{ data: { spy: "scroll", target: "#scrollnav"}}
      - @category.each do |c|
        %section{ id: c.id} 
          - if c.unions.any?
            %h3= c
          - c.unions.each do |u|
            %h4= u
            %ul.nav.nav-tabs.nav-stacked
              - u.groups.each do |g|
                %li= link_to g, union_group_path(u, g)
