.row
  .span3.bs-docs-sidebar
    = render "web/shared/union_groups_list"
  .span7
    - if @category.unions.any?
      %h3= @category
    - @category.unions.each do |u|
      %h4= u
      %ul.nav.nav-tabs.nav-stacked
        - u.groups.each do |g|
          %li= link_to g, union_group_path(u, g)
    