.row
  .span3
    = render "web/shared/category_unions_list"
  .span6
    %h3= @category
    - @unions.each do |u|
      %hr
      %div{:id =>  u.id}
        %h4
          = u.name
      != u.description
