.row
  .span3
    #calendars
  .span8
    - @events.each do |event|
      %h4= event.name
      %h5= event.begin_date
      - if event.image.present?
        .span4.leftimg
          = link_to image_tag(event.image), event.image.url, data: {colorbox: true}
      != event.content
      %hr
      %div{:id => "disqus_thread"}
  
:javascript
  $(function() {
    window.router = new Castle.Routers.CalendarsRouter();
    Backbone.history.start();
  });